@reference "../../app/globals.css";

.siteNav {
  @apply bg-light px-2 py-4;
}

.siteNav nav {
  @apply mx-auto max-w-6xl flex justify-between items-center;
}

.siteNav h1 {
  @apply font-bold text-xl;
}

svg.logo {
  display: inline-block;
}

.createBtn {
  @apply inline-flex items-center gap-2 px-4 py-2 rounded-lg text-base text-white font-normal tracking-tight;
  background: linear-gradient(to right, #9810fa, #e60076);
}

.createBtn:hover {
  opacity: 0.9;
}
